@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&family=Poppins&family=Tangerine:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
}

body{
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: -20px 0 50px;
}

h1{
    font-weight: bold;
    margin: 0;
}